Source: marek
Section: python
Priority: optional
Maintainer: Anton Berezin <gurunars@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
               python-support,
               python-setuptools,
               python (>= 2.6)
Standards-Version: 3.8.4


Package: marek
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         python (>= 2.6),
         python-argparse
Description: Tool to create projects from a template
